<div class="parallax">
    <div class="caption1">
        <h1><strong>KIDS FANTASY LEAGUE</strong></h1>
    </div>
</div>
<div class="caption2">
    <p>The perfect environment for kids to have fun learning through play, make new friends and create memories that
        last a
        lifetime</p>
</div>
<div class="parallax1">
    <div class="caption3" id="KFL">
        <p style="font-size:30px"><strong>what is KFL?</strong></p>
        <p>KFL is kids version of AFL</p>
        <p>It is amied to engage more children towards AFL aged between 5 to 15 </p>
        <p>In this fantasy league kids can select their team and based on AFL </p>
        <p>matches their position in the Leader board varies.</p>
    </div>
</div>