<!DOCTYPE html>
<html class="gr__" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">

</head>

<body data-gr-c-s-loaded="true">




    <div class="content">



        <div class="leaderboard flex column wrap">
            <div class="leaderboard-table flex column">
                <div class="leaderboard-header flex column grow">

                    <div class="filter-by flex grow wrap">
                        <div class="time-filter flex grow">
                            <div class="row-button pointer row-button--active align-center">This Round</div>
                            <div class="row-button pointer align-center">This Season</div>
                        </div>
                        <div class="subject-filter flex grow">
                            <div class="table-tab pointer flex grow justify-center align-center tab-active">
                                <svg class="menu-link-icon" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z">
                                    </path>
                                </svg>
                                Your Position:1,22,000</div>

                        </div>
                    </div>

                    <div class="leaderboard-row flex align-center row--header" style="border-radius: 0 !important;">
                        <div class="row-position">Serial No.</div>
                        <div class="row-collapse flex align-center">
                            <div class="row-user--header" style="padding-left:35px"> Players</div>
                            <div class="row-team--header">Team Name</div>
                            <div class="row-rank--header">Rank</div>
                        </div>
                        <div class="row-calls">Points</div>
                    </div>
                </div>


                <div class="leaderboard-body flex column grow">
                    <div class="leaderboard-row flex align-center">
                        <div class="row-position">1</div>
                        <div class="row-collapse flex align-center">
                            <div class="row-caller flex">
                                <div class="row-user">Christopher Henery</div>
                            </div>
                            <div class="row-team" style="padding-left:35px">Avengers</div>
                            <div class="row-rank" style="padding-left:30px">1</div>
                        </div>
                        <div class="row-calls">1567</div>
                    </div>

                    <div class="leaderboard-row flex row-alt align-center">
                        <div class="row-position">2</div>
                        <div class="row-collapse flex align-center">
                            <div class="row-caller flex">
                                <p class="row-user">John Smith R</p>
                            </div>
                            <div class="row-team" style="padding-left:35px">Justice League</div>
                            <div class="row-rank" style="padding-left:30px">2</div>
                        </div>
                        <div class="row-calls">567</div>
                    </div>

                    <div class="leaderboard-row flex align-center">
                        <div class="row-position">3</div>
                        <div class="row-collapse flex align-center">
                            <div class="row-caller flex">
                                <div class="row-user">Trent Jr.</div>
                            </div>
                            <div class="row-team" style="padding-left:35px">Titans</div>
                            <div class="row-rank" style="padding-left:30px">3</div>
                        </div>
                        <div class="row-calls">231</div>
                    </div>

                    <div class="leaderboard-row flex row-alt align-center">
                        <div class="row-position">4</div>
                        <div class="row-collapse flex align-center">
                            <div class="row-caller flex">
                                <div class="row-user">Rajesh Dev D</div>
                            </div>
                            <div class="row-team" style="padding-left:35px">AFL Fan</div>
                            <div class="row-rank" style="padding-left:30px">4</div>
                        </div>
                        <div class="row-calls">44</div>
                    </div>

                    <div class="leaderboard-row flex align-center">
                        <div class="row-position">5</div>
                        <div class="row-collapse flex align-center">
                            <div class="row-caller flex">
                                <div class="row-user">Master Bruce Wayne</div>
                            </div>
                            <div class="row-team" style="padding-left:35px">Richmond KFL</div>
                            <div class="row-rank" style="padding-left:30px">5</div>
                        </div>
                        <div class="row-calls">10</div>
                    </div>

                    <div class="leaderboard-footer flex align-center">
                        Page 1 of 1<a class="footer-btn pointer">Next</a> 5 of 5 items
                    </div>

                </div>
            </div>

        </div>

    </div>

</body>

</html>