

<div class="parallax">
    <div class="caption1">
        {{#if user}}
        <h1><strong>Hello {{user.name}} welcome to KFL</strong></h1>
        {{/if}}
    </div>
</div>
<div class="caption2">
    <p>Australian Football is the sport for everyone. From AFL Juniors to Kids Fantasy League (KFL) and beyond, AFL is fun for all ages. If you are new to KFL just read the rules. </p>
</div>
<div class="parallax1">
    <div class="caption3" id="KFL">
        <p style="font-size:30px"><strong>KFL Rules</strong></p>
        <p>KFL is mini version of AFL Fantasy</p>
        <p>kids need to select 5 players</p>
        <p>Points are updated for every match</p>
        <p>Check your ranking in Leader board</p>
        <p>Kid with highest points at the end of season will be winner</p>
    </div>
</div>
