<!DOCTYPE html>
<html>

<head>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

<script>
    $(".white-box").hover(function () {

            $(".container").css("background-color", "#008000");

        }, function () {

            $(".container").css("background-color", "#f4f5f4");

        });
</script>

</head>

<body>
    <div class="container">
        <div class="white-box">
    
            <div class="featured"><img src="../images/richmond.png" height="40px"> Richmond Tigers<span style="padding-left:110px">VS</span><img src="../images/AdelidePort.png" height="40px" style="padding-left:120px">Port Adelide <br><span style="padding-left:190px">Match 4 Date: 12<sup>th</sup> May</span>
            </div>
        </div>
        <div class="white-box1">
            <div class="featured"><img src="../images/hawthorn.png" height="40px"> Hawthorn Hawks<span
                    style="padding-left:110px">VS</span><img src="../images/sydney.png" height="40px"
                    style="padding-left:120px">Sydney FC <br><span style="padding-left:190px">Match 5 Date: 13<sup>th</sup>
                    May</span>
        </div>
    </div>
    <div class="white-box2">
        <div class="featured"><img src="../images/essendon.png" height="40px"> Essendon FC<span
                style="padding-left:110px">VS</span><img src="../images/collingwood.png" height="40px"
                style="padding-left:120px">Collingwood FC <br><span style="padding-left:190px">Match 6 Date: 14<sup>th</sup>
                May</span>
        </div>
    </div>
</body>


</html>