.cards{
    height:200px ;
    width: 140px;
}

.caption2 {
  position: absolute;
  padding-top: 15px;
  font-size: 20px;
  margin: 0%;
  padding-left: 20%;  
  font-style: italic;
  color: orchid;
  font-weight: 400; 
  
}
.caption3{
    position: absolute;
    font-size: 10px;
    padding-top: 40px;
    margin: 0%;
    font-style: italic;
    color: slateblue;
    padding-left: 33%;
}


